SECRET_KEY=your_production_secret_key_here
DEBUG=False
ALLOWED_HOSTS=pos.resikplus.id,localhost
CSRF_TRUSTED_ORIGINS=https://pos.resikplus.id

# Database configuration for cPanel (MySQL)
# Kosongkan DB_NAME jika ingin menggunakan SQLite (lokal)
DB_NAME=resn6128_Warung
DB_USER=resn6128_warungpos
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=3306

# Keamanan (Set False jika tidak menggunakan HTTPS/SSL)
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
